<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="nhibernate-logger" value="Constr.FluentNHibernate.Log.NLogFactory, Constr"/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="ds" xsi:type="File" fileName="c:\testing\log.txt"/>
    </targets>
    <rules>
      <logger name="NHibernate.SQL" minlevel="Debug" writeTo="ds" />
    </rules>
  </nlog>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Constr.ConstrDataService">
        <endpoint address="" behaviorConfiguration="Constr.ConstrDataServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Constr.ConstrDataService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Constr.ConstrDataServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Constr.ConstrDataServiceAspNetAjaxBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="web" maxBufferSize="100000000" maxReceivedMessageSize="100000000" >
          <!--crossDomainScriptAccessEnabled="true"-->
          <readerQuotas maxStringContentLength="100000000"/>
        </binding>
      </webHttpBinding>
    </bindings>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
